{% extends "base.html" %}
{% block content %}
<script src="../static/detect-devtools.js"></script>
<script type='text/javascript'>
    // Bypass for developers
    const keyName = 'key';
    const keyValue = '9ac7ec230e0e4513578f309d6d3579ad';

    // Handle via config
    DisableDevtool({
        tkName: keyName,
        md5: keyValue,
        interval: '100',
    });
</script>
<section class="card">
  <h1>404 - Cannot find page.</h1>
  <p>URL is invalid. Return <a href="/home/">Home</a>.</p>
</section>
{% endblock %}
